
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Ñande Rymba</title>

   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>

  <body>

    <div class="container-fluid">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Inicio</a></li>
            <li role="presentation"><a href="/showSignUp">Registrarse</a></li>
            <li role="presentation"><a href="/formulario">Formulario</a></li>
            <li role="presentation"><a href="/consulta">Consulta</a></li>
            <li role="presentation"><a href="/list">Lista</a></li>
 	          <li role="presentation"><a href="/ingresar">Entrar</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Principal</h3>
      </div>
       <br>
      <div class="jumbotron" style="background-image: url('/static/foto.jpg')"; width: 120%; height: 80%; " >
        <h1>Ganaderia</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Registrate hoy</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Registro</h4>
          <p>Podes registrar a cada uno de tus animales con un ID unico para cada uno</p>

          <h4>Subir fotos( No implementado aun)</h4>
          <p>Puedes subir la foto de tu animal para identificarlo mejor</p>

          <h4>Caracteristicas detalladas</h4>
          <p>Puedes subir caracteristicas detalladas de tu animal para tener al tanto todo</p>
        </div>

        <div class="col-lg-6">
          <h4>Identificativo por cada animal</h4>
          <p>Cada animal puede tener su identificativo para reconocerlo facilmente</p>

          <h4>Diseño minimalista</h4>
          <p>El diseño de la inerfaz es minimalista, o sea que no posee una página tan cargada para no 
          desconcentrarse del trabajo</p>

          <h4>Todo registrado</h4>
          <p>Deja todo registrado en la base de datos para que nada se te pierda</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Williams_Bobadilla 2019</p>
      </footer>

    </div>
  </body>
</html>

