
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ñande Rymba</title>

   
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="showHome">Inicio</a></li>
            <li role="presentation"><a href="#">Ingresar</a></li>
            <li role="presentation" class="active"><a href="#">Registrarse</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Registro de Usuario</h3>
      </div>

      <div class="jumbotron">
        <h1>Datos del Usuario</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Nombre</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Nombre" required autofocus>
        <label for="inputEmail" class="sr-only">Dirección Email</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Dirección Email" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Contraseña" required>
        
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Registrarse</button>
      </form>
      </div>

      

      <footer class="footer">
        <p>&copy;Williams_Bobadilla 2019</p>
      </footer>

    </div>
  </body>
</html>

